<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home - Little Bamboo</title>
        <link href="https://unpkg.com/swiper/swiper-bundle.min.css" rel="stylesheet">
        
        <script src="https://cdn.tailwindcss.com"></script>
    </head>

<body>
    <div class="bg-[#D6FCD3]">
        <div class="container mx-auto px-10 py-16">
            <div class="flex flex-col md:flex-row items-center justify-between">
    
                <div class="w-full"> 
                    <h1 class="text-lg">Little Bamboo Foundation</h1>
                    <h1 class="text-6xl font-bold mt-2 text-[#71C21F]">Partners and Sponsors</h1>
                </div>
    
            </div>
        </div>
    </div>
  
    <section class="bg-gray-100 py-10 px-32">
        <div class="container mx-auto">
            <h2 class="text-2xl font-bold mb-4">Cies & INSTITUTIONS</h2>
            <div class="grid grid-cols-2 md:grid-cols-4 gap-6">
                <!-- Sponsor 1 -->
                <div class="flex flex-col items-center bg-white shadow-md p-4">
                    <img src="/assets/images/logo/casino_groupe_integration.png" alt="Sponsor 1" class="w-64">
                    <p class="text-gray-700 mt-2">The French supermarket chain Casino supported the project for the first five years.</p>
                </div>
                <!-- Sponsor 2 -->
                <div class="flex flex-col items-center bg-white shadow-md p-4">
                    <img src="/assets/images/logo/enfants-du-mekong.png" alt="Sponsor 2" class="w-64">
                    <p class="text-gray-700 mt-2">Enfants du Mekong is a French charity that helps us run and finance the scholarship program</p>
                </div>
                <!-- Sponsor 3 -->
                <div class="flex flex-col items-center bg-white shadow-md p-4">
                    <img src="/assets/images/logo/ashurst.png" alt="Sponsor 3" class="w-64">
                    <p class="text-gray-700 mt-2">Ashurst in Germany is helping us with our legal questions and donated one full year of feeding program for the pre school.</p>
                </div>
                <!-- Sponsor 4 -->
                <div class="flex flex-col items-center bg-white shadow-md p-4">
                    <img src="/assets/images/logo/place-holder.png" alt="Sponsor 4" class="w-64">
                    <p class="text-gray-700 mt-2">The Cebu Learning Center has always been there, organising the repainting of our walls and yearly memorable christmas parties for our children.</p>
                </div>
                <div class="flex flex-col items-center bg-white shadow-md p-4">
                    <img src="/assets/images/logo/place-holder.png" alt="Sponsor 4" class="w-64">
                    <p class="text-gray-700 mt-2">The Saint Joseph Foundation has also been helping us.</p>
                </div>
                <div class="flex flex-col items-center bg-white shadow-md p-4">
                    <img src="/assets/images/logo/place-holder.png" alt="Sponsor 4" class="w-64">
                    <p class="text-gray-700 mt-2">Coup de Pouce humanitaire sent a team of volunteers to renovate our school.</p>
                </div>
                <div class="flex flex-col items-center bg-white shadow-md p-4">
                    <img src="/assets/images/logo/place-holder.png" alt="Sponsor 4" class="w-64">
                    <p class="text-gray-700 mt-2">University of Cebu provided us with Computers.</p>
                </div>
                <div class="flex flex-col items-center bg-white shadow-md p-4">
                    <img src="/assets/images/logo/place-holder.png" alt="Sponsor 4" class="w-64">
                    <p class="text-gray-700 mt-2">Waterfront hotels donated furniture.</p>
                </div>
                <div class="flex flex-col items-center bg-white shadow-md p-4">
                    <img src="/assets/images/logo/place-holder.png" alt="Sponsor 4" class="w-64">
                    <p class="text-gray-700 mt-2">Pfizer and Knowles Electronics organised an outreach program for Little Bamboo.</p>
                </div>
                <div class="flex flex-col items-center bg-white shadow-md p-4">
                    <img src="/assets/images/logo/place-holder.png" alt="Sponsor 4" class="w-64">
                    <p class="text-gray-700 mt-2">We are working hand in hand with local (GOs) and (NGOs); DSWD, DepEd, and the Cebu City task force.</p>
                </div>
                <!-- Add more sponsors as needed -->
            </div>
        </div>
    </section>

    <section class="bg-gray-100 py-10 px-32">
        <div class="container mx-auto">
            <h2 class="text-2xl font-bold mb-4">INDIVIDUALS</h2>
            <div class="grid grid-cols-2 md:grid-cols-4 gap-6">
                <!-- Sponsor 1 -->
                <div class="flex flex-col items-center bg-white shadow-md p-4">
                    <img src="/assets/images/logo/place-holder-2.png" alt="Sponsor 1" class="w-64">
                    <p class="text-gray-700 mt-2">The Cope family have been supporting Little Bamboo for over 7 years financially and operationally, and also organised a fantastic concert in London.</p>
                </div>
                <!-- Sponsor 2 -->
                <div class="flex flex-col items-center bg-white shadow-md p-4">
                    <img src="/assets/images/logo/place-holder-2.png" alt="Sponsor 2" class="w-64">
                    <p class="text-gray-700 mt-2">The Lhuillier family also give a significant contribution.</p>
                </div>
                <!-- Sponsor 3 -->
                <div class="flex flex-col items-center bg-white shadow-md p-4">
                    <img src="/assets/images/logo/place-holder-2.png" alt="Sponsor 3" class="w-64">
                    <p class="text-gray-700 mt-2">Didier Cherpitel, former General Secretary of Red Cross International.</p>
                </div>
                <!-- Sponsor 4 -->
                <div class="flex flex-col items-center bg-white shadow-md p-4">
                    <img src="/assets/images/logo/place-holder-2.png" alt="Sponsor 4" class="w-64">
                    <p class="text-gray-700 mt-2">Jean René, his son Alexis and the Saillard family.</p>
                </div>
                <div class="flex flex-col items-center bg-white shadow-md p-4">
                    <img src="/assets/images/logo/place-holder-2.png" alt="Sponsor 4" class="w-64">
                    <p class="text-gray-700 mt-2">Helene Isselstein "Happy to be associated with Little Bamboo. I thought it was very easy to donate and user friendly.</p>
                </div>
                <div class="flex flex-col items-center bg-white shadow-md p-4">
                    <img src="/assets/images/logo/place-holder-2.png" alt="Sponsor 4" class="w-64">
                    <p class="text-gray-700 mt-2"> Steffen Walter and the Bauhaus AG and his friends cycled over the Alps for us.</p>
                </div>
                <div class="flex flex-col items-center bg-white shadow-md p-4">
                    <img src="/assets/images/logo/place-holder-2.png" alt="Sponsor 4" class="w-64">
                    <p class="text-gray-700 mt-2">Corinna and Cica Schuette organised fund raising dinner parties among their friends and have always supported us. </p>
                </div>
                
                
                <!-- Add more sponsors as needed -->
            </div>
        </div>
    </section>
</body>
</html>
