<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home - Little Bamboo</title>
        <link href="https://unpkg.com/swiper/swiper-bundle.min.css" rel="stylesheet">
        
        <script src="https://cdn.tailwindcss.com"></script>
    </head>

<body>
    <div class="bg-[#D6FCD3]">
        <div class="container mx-auto px-10 py-16">
            <div class="flex flex-col md:flex-row items-center justify-between">
    
                <div class="w-full"> 
                    <h1 class="text-lg">Little Bamboo Foundation</h1>
                    <h1 class="text-6xl font-bold mt-2 text-[#71C21F] mb-4">Team</h1>
                    <p class="text-justify text-gray-500">It is essential to provide our children with the best care possible. With this in mind, we have established a team of 15 highly dedicated and qualified professionals in Cebu who work tirelessly to ensure that our little ones receive the care they deserve. Moreover, a committed board convenes quarterly in Cebu to offer support and guidance to the team. Our organization is primarily funded by volunteers based in Europe, where we maintain a small but active team.</p>
                </div>
    
            </div>
        </div>
    </div>

    <section class="p-8">
        <div class="container mx-auto">
            
            <div class="grid grid-cols-1 md:grid-cols-5 gap-6">
                <!-- Team Member 1 -->
                <div class="bg-white p-4 shadow-md rounded-lg hover:bg-blue-100 transition duration-300">
                    <div class="aspect-w-1 aspect-h-1 mb-4 rounded-md overflow-hidden">
                        <img src="/assets/images/staff-profiles/fe.webp" alt="Team Member 1" class="object-cover w-[250px] h-[250px]">
                    </div>
                    <h3 class="text-lg font-semibold text-center">Fe</h3>
                    <p class="text-gray-600 text-center">Manager</p>
                </div>

                <!-- Team Member 2 -->
                <div class="bg-white p-4 shadow-md rounded-lg hover:bg-blue-100 transition duration-300">
                    <div class="aspect-w-1 aspect-h-1 mb-4 rounded-md overflow-hidden">
                        <img src="/assets/images/staff-profiles/julie.webp" alt="Team Member 2" class="object-cover w-[250px] h-[250px]">
                    </div>
                    <h3 class="text-lg font-semibold text-center">Julie</h3>
                    <p class="text-gray-600 text-center">Program-in-charge</p>
                </div>

                <!-- Team Member 3 -->
                <div class="bg-white p-4 shadow-md rounded-lg hover:bg-blue-100 transition duration-300">
                    <div class="aspect-w-1 aspect-h-1 mb-4 rounded-md overflow-hidden">
                        <img src="/assets/images/staff-profiles/jennifer.webp" alt="Team Member 3" class="object-cover w-[250px] h-[250px]">
                    </div>
                    <h3 class="text-lg font-semibold text-center">Jennifer</h3>
                    <p class="text-gray-600 text-center">Scholarship-in-charge</p>
                </div>

                <!-- Team Member 4 -->
                <div class="bg-white p-4 shadow-md rounded-lg hover:bg-blue-100 transition duration-300">
                    <div class="aspect-w-1 aspect-h-1 mb-4 rounded-md overflow-hidden">
                        <img src="/assets/images/staff-profiles/shiela.webp" alt="Team Member 4" class="object-cover w-[250px] h-[250px]">
                    </div>
                    <h3 class="text-lg font-semibold text-center">Shiela</h3>
                    <p class="text-gray-600 text-center">Family Support Staff</p>
                </div>

                <!-- Team Member 5 -->
                <div class="bg-white p-4 shadow-md rounded-lg hover:bg-blue-100 transition duration-300">
                    <div class="aspect-w-1 aspect-h-1 mb-4 rounded-md overflow-hidden">
                        <img src="/assets/images/staff-profiles/jovemar.webp" alt="Team Member 5" class="object-cover w-[250px] h-[250px]">
                    </div>
                    <h3 class="text-lg font-semibold text-center">Jovermar</h3>
                    <p class="text-gray-600 text-center">Preschool Teacher</p>
                </div>

                <!-- Team Member 6 -->
                <div class="bg-white p-4 shadow-md rounded-lg hover:bg-blue-100 transition duration-300">
                    <div class="aspect-w-1 aspect-h-1 mb-4 rounded-md overflow-hidden">
                        <img src="/assets/images/staff-profiles/marites.webp" alt="Team Member 6" class="object-cover w-[250px] h-[250px]">
                    </div>
                    <h3 class="text-lg font-semibold text-center">Marites</h3>
                    <p class="text-gray-600 text-center">Preschool Teacher</p>
                </div>

                <!-- Team Member 7 -->
                <div class="bg-white p-4 shadow-md rounded-lg hover:bg-blue-100 transition duration-300">
                    <div class="aspect-w-1 aspect-h-1 mb-4 rounded-md overflow-hidden">
                        <img src="/assets/images/staff-profiles/maria.webp" alt="Team Member 7" class="object-cover w-[250px] h-[250px]">
                    </div>
                    <h3 class="text-lg font-semibold text-center">Maria Teresa</h3>
                    <p class="text-gray-600 text-center">Preschool Teacher</p>
                </div>

                <!-- Team Member 8 -->
                <div class="bg-white p-4 shadow-md rounded-lg hover:bg-blue-100 transition duration-300">
                    <div class="aspect-w-1 aspect-h-1 mb-4 rounded-md overflow-hidden">
                        <img src="/assets/images/staff-profiles/lorna.webp" alt="Team Member 8" class="object-cover w-[250px] h-[250px]">
                    </div>
                    <h3 class="text-lg font-semibold text-center">Lorna</h3>
                    <p class="text-gray-600 text-center">Preschool Teacher</p>
                </div>

                <!-- Team Member 9 -->
                <div class="bg-white p-4 shadow-md rounded-lg hover:bg-blue-100 transition duration-300">
                    <div class="aspect-w-1 aspect-h-1 mb-4 rounded-md overflow-hidden">
                        <img src="/assets/images/staff-profiles/catherine.webp" alt="Team Member 9" class="object-cover w-[250px] h-[250px]">
                    </div>
                    <h3 class="text-lg font-semibold text-center">Catherine</h3>
                    <p class="text-gray-600 text-center">Preschool Teacher</p>
                </div>

                <!-- Team Member 10 -->
                <div class="bg-white p-4 shadow-md rounded-lg hover:bg-blue-100 transition duration-300">
                    <div class="aspect-w-1 aspect-h-1 mb-4 rounded-md overflow-hidden">
                        <img src="/assets/images/staff-profiles/Rico.webp" alt="Team Member 10" class="object-cover w-[250px] h-[250px]">
                    </div>
                    <h3 class="text-lg font-semibold text-center">Rico</h3>
                    <p class="text-gray-600 text-center">Scholarship Staff</p>
                </div>

                <!-- Team Member 11 -->
                <div class="bg-white p-4 shadow-md rounded-lg hover:bg-blue-100 transition duration-300">
                    <div class="aspect-w-1 aspect-h-1 mb-4 rounded-md overflow-hidden">
                        <img src="/assets/images/staff-profiles/nedi.webp" alt="Team Member 11" class="object-cover w-[250px] h-[250px]">
                    </div>
                    <h3 class="text-lg font-semibold text-center">Nedi</h3>
                    <p class="text-gray-600 text-center">Scholarship Team</p>
                </div>

                <!-- Team Member 12 -->
                <div class="bg-white p-4 shadow-md rounded-lg hover:bg-blue-100 transition duration-300">
                    <div class="aspect-w-1 aspect-h-1 mb-4 rounded-md overflow-hidden">
                        <img src="/assets/images/staff-profiles/Scarlette.webp" alt="Team Member 12" class="object-cover w-[250px] h-[250px]">
                    </div>
                    <h3 class="text-lg font-semibold text-center">Scarlette</h3>
                    <p class="text-gray-600 text-center">Cook</p>
                </div>

                <!-- Team Member 13 -->
                <div class="bg-white p-4 shadow-md rounded-lg hover:bg-blue-100 transition duration-300">
                    <div class="aspect-w-1 aspect-h-1 mb-4 rounded-md overflow-hidden">
                        <img src="/assets/images/staff-profiles/Antonio.webp" alt="Team Member 13" class="object-cover w-[250px] h-[250px]">
                    </div>
                    <h3 class="text-lg font-semibold text-center">Antonio</h3>
                    <p class="text-gray-600 text-center">Driver</p>
                </div>

                <!-- Team Member 14 -->
                <div class="bg-white p-4 shadow-md rounded-lg hover:bg-blue-100 transition duration-300">
                    <div class="aspect-w-1 aspect-h-1 mb-4 rounded-md overflow-hidden">
                        <img src="/assets/images/staff-profiles/renelyn.webp" alt="Team Member 14" class="object-cover w-[250px] h-[250px]">
                    </div>
                    <h3 class="text-lg font-semibold text-center">Renelyn</h3>
                    <p class="text-gray-600 text-center">Maintenance</p>
                </div>
            </div>
        </div>
    </section>
   
   
</body>
</html>
