<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Little Bamboo</title>
    <!-- Add any additional CSS or meta tags specific to the home page if needed -->
</head>
<body>
    <!-- Add your home page content here -->
    <div class=" bg-[#D6FCD3]">
        <div class="container mx-auto px-10 py-16">
            <div class="flex flex-col md:flex-row items-center justify-between">

                    <div class="md:w-6/12 mb-6 md:mb-0">
                        <h1 class="text-4xl font-bold">Little Bamboo Foundation</h1>
                            <p class="text-lg mt-2">Development through education in the Philippines</p>
                            <div class="pt-3 pr-16">
                                <p class="text-lg mt-2 text-justify" >We are a Filipino charity foundation with a solid track record and roughly 600 beneficiaries with children from the slums of Cebu’s harbor. Our qualified team of 15 Filipinos & an 8-member board runs a preschool, a scholarship, and a family development program.</p>
                            </div>
                        <div class="mt-8">
                            <button class="bg-[#f9a620] text-white px-16 py-4 rounded-full hover:bg-[#f26430]">Learn More</button>
                            <ion-icon onclick="onToggleMenu(this)" name="LearnMore" class="text-3xl cursor-pointer md:hidden"></ion-icon>
                        </div>
                    </div>

                <div class="md:w-6/12">
                    <img class="w-full rounded-lg" src="/assets/images/banner-img.jpg" alt="Home Image">
                </div>
                
            </div>
        </div>
    </div>

    <!-- Add any additional JavaScript specific to the home page if needed -->
</body>
</html>
