<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Little Bamboo</title>
    <!-- Add any additional CSS or meta tags specific to the home page if needed -->
</head>
<body class="bg-[#D6FCD3]">

    <div class="bg-[#D6FCD3]">
        <div class="container mx-auto px-10 py-16">
            <div class="flex flex-col md:flex-row items-center justify-between">
    
                <div class="w-full text-center"> 
                    <h1 class="text-lg">Little Bamboo Foundation</h1>
                    <h1 class="text-6xl font-bold mt-2 text-[#71C21F]">News</h1>
                </div>
    
            </div>
        </div>
    </div> 

    <div class="mt-16">
        <div class="container mx-auto border border-black-400 rounded-lg shadow-lg">
            <div class="flex flex-col md:flex-row justify-between h-full">
                <div class="flex-1">
                    <div class="aspect-w-16 aspect-h-9">
                        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/JC9yDnIEIVk?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="flex-1 bg-white p-6">
                    <p class="font-semibold text-2xl mb-3">Daily Life in School</p>
                    <p class="text-gray-600">A few images about Little Bamboo Foundation, supporting children in the slums of Cebu City, Philippines with educational programs for the entire family.</p>
                </div>
            </div>
        </div>
    </div>


    <div class="mt-8">
        <div class="container mx-auto border border-black-400 rounded-lg shadow-lg">
            <div class="flex flex-col md:flex-row justify-between h-full">
                <div class="flex-1">
                    <div class="aspect-w-16 aspect-h-9">
                        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/JC9yDnIEIVk?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="flex-1 bg-white p-6">
                    <p class="font-semibold text-2xl mb-3">Little Bamboo Foundation</p>
                    <p class="text-gray-600">Non-profit organization supporting children in the Philippines. This video was created by Nicolas d'Arros and Sarah Fert.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-8">
        <div class="container mx-auto border border-black-400 rounded-lg shadow-lg">
            <div class="flex flex-col md:flex-row justify-between h-full">
                <div class="flex-1">
                    <div class="aspect-w-16 aspect-h-9">
                        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/JC9yDnIEIVk?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="flex-1 bg-white p-6">
                    <p class="font-semibold text-2xl mb-3">Little Bamboo Foundation - Moving Up Ceremony 2023</p>
                    <p class="text-gray-600">Non-profit organization supporting children in the Philippines.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="container mx-auto px-6 py-8 md:py-16 mt-4 mb-8">
        <h1 class="text-3xl md:text-4xl text-center">Visit Our Socials</h1>
        <p class="text-center mt-2">Explore our other social media platforms to stay up-to-date with the latest news and updates</p>
        <div class="mt-4 text-xl text-center">
            <a href="https://web.facebook.com/profile.php?id=100090917267978" class="hover:text-gray-500">
                <i class="fab fa-facebook-square text-xl"></i>
                @littlebamboofoundation
            </a>
        </div>
        <div class="mt-2 text-center text-xl">
            <a href="https://www.youtube.com/@littlebamboofoundationinc12" class="hover:text-gray-500">
                <i class="fab fa-youtube text-xl"></i>
                @littlebamboofoundationinc12
            </a>
        </div>
    </div> -->

    <!-- Add any additional JavaScript specific to the home page if needed -->
</body>
</html>
