<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Little Bamboo</title>
    <!-- Add any additional CSS or meta tags specific to the home page if needed -->
</head>
<body>
    <!-- Add your home page content here -->
    <div class="bg-[#D6FCD3]">
        <div class="container mx-auto px-10 py-16">
            <div class="flex flex-col md:flex-row items-center justify-between">
    
                <div class="w-full text-center"> 
                    <h1 class="text-lg">Little Bamboo Foundation</h1>
                    <h1 class="text-6xl font-bold mt-2 text-[#71C21F]">Programs</h1>
                </div>
    
            </div>
        </div>
    </div>


    <div class="bg-white">
        <div class="container mx-auto px-10  mt-4">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-16">
                <div>
                    <img class="w-full h-64 object-cover border border-black-400" src="/assets/images/children-1.jpg" alt="Image 1">
                    <p class="flex items-center text-xl pt-3 pb-3 font-semibold">PRE-SCHOOL ~150 children</span></p>
                     <ul class="text-gray-500 list-disc list-inside mt-4">
                        <li>Following a curriculum centered on the needs of a child, that was created by an expert educational consultant</li>
                        <li>Helping children overcome developmental difficulties, assisted by psychologists and using occupational therapy</li>
                        <li>Preparing for a successful transition into the public school system</li>
                        <li>Giving daily meals and medical assistance</li>
                    </ul>
                </div>
                
    
                <div>
                    <img class="w-full h-64 object-cover border border-black-400" src="/assets/images/children-2.jpg" alt="Image 2">
                    <p class="flex items-center text-xl pt-3 pb-3 font-semibold">Scholarship</span></p>
                    <ul class="text-gray-500 list-disc list-inside mt-4">
                        <li>Helping children in the public education system after they have left the Little Bamboo pre-school</li>
                        <li>Financing their tuition fees, organising school support, cultural activities and sports</li>
                        <li>Minimising the children’s exposure to drugs, violence and prostitution</li>
                        <li>Benefiting from the experience and financial help of Enfants du Mekong</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-white">
        <div class="container mx-auto px-10  mb-8">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-16">
                <div>
                    <img class="w-full h-64 object-cover border border-black-400" src="/assets/images/children-1.jpg" alt="Image 1">
                    <p class="flex items-center text-xl pt-3 pb-3 font-semibold">Family Development</span></p>
                   <ul class="text-gray-500 list-disc list-inside mt-4">
                        <li>Reinforcing the link between parents and children and fostering responsible parenthood</li>
                        <li>Reaching the whole family through the child</li>
                        <li>Helping families in distress through one/one meetings, seminars on children rights, basic medical care and nutrition advice, basic livelihood workshops</li>
                    </ul>
                </div>
                <div>
                    <img class="w-full h-64 object-cover border border-black-400" src="/assets/images/children-2.jpg" alt="Image 2">
                    <p class="flex items-center text-xl pt-3 pb-3 font-semibold">Emergency Situations</span></p>
                    <ul class="text-gray-500 list-disc list-inside mt-4"> 
                        <li>Little Bamboo only finances but does not operate this program</li>
                        <li>Sister Anne, an Irish Catholic nun who works near Little Bamboo, operates with our help:</li>
                        <li>Baby-care centre to enable mothers to go to work</li>
                        <li>Support for elderly people (nutrition, communication ... ).</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


   
    <!-- Add any additional JavaScript specific to the home page if needed -->
</body>
</html>
