<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home - Little Bamboo</title>
        <link href="https://unpkg.com/swiper/swiper-bundle.min.css" rel="stylesheet">
        
        <script src="https://cdn.tailwindcss.com"></script>
    </head>

<body>
    <div class="bg-[#D6FCD3]">
        <div class="container mx-auto px-10 py-16">
            <div class="flex flex-col md:flex-row items-center justify-between">
    
                <div class="w-full text-center"> 
                    <h1 class="text-lg">Little Bamboo Foundation</h1>
                    <h1 class="text-6xl font-bold mt-2 text-[#71C21F]">Testimonials</h1>
                </div>
    
            </div>
        </div>
    </div>
    

    

    <div class="container mx-auto py-8 px-4 md:px-8">
        <div class="container mx-auto pb-10">
            <h1 class="text-2xl font-bold text-[#71C21F] pt-8">From Our Sponsors</h1>
            <p class="text-justify pt-4 pr-10 text-gray-500">
                Here are heartfelt testimonials from our esteemed sponsors, who have wholeheartedly partnered with and supported Little Bamboo Foundation. Their generous contributions have been instrumental in empowering our mission and making a significant positive impact in the lives of many
            </p>
        </div>
    
        <div class="container mx-auto">
            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                <div class="bg-[#F3FCDA] mb-5 flex flex-col p-8">
                    <h1 class="text-xl">Cope Family, London</h1>
                    <div class="pt-3 pr-16 flex-grow">
                        <p class="text-sm mt-2 text-justify text-gray-500">
                            Little Bamboo is one of those rare organisations that truly changes children’s lives. Not just in tiny degrees, but dramatically - giving them hope and prospects where previously they had none. What the team has achieved, despite limited resources, has been stunning. It has been a great pleasure for us to be associated with this project. Many thanks to you all!
                        </p>
                    </div>
                </div>
    
                <div class="bg-[#F3FCDA] mb-5 flex flex-col p-8">
                    <h1 class="text-xl">Didier Cherpitel, Geneva</h1>
                    <div class="pt-3 pr-16 flex-grow">
                        <p class="text-sm mt-2 text-justify text-gray-500">
                            Former General Secretary of Red Cross International Little Bamboo is a wonderful, pragmatic, efficient organization. It provides young children in need with a solid education base and great opportunities for their life.
                        </p>
                    </div>
                </div>
    
                <div class="bg-[#F3FCDA] mb-5 flex flex-col p-8">
                    <h1 class="text-xl">Jean-René, his son Alexis and the Saillard family, Geneva</h1>
                    <div class="pt-3 pr-16 flex-grow">
                        <p class="text-sm mt-2 text-justify text-gray-500">
                            For some birthdays, instead of receiving gifts from their friends, our children will choose to organise a collection for the school. We are kept informed of the progress on a regular basis, receiving reports, drawings and photos of the Little Bamboo children.
    
                            I am also involved with several other charities and must say that Little Bamboo is very well organised and extremely efficient.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container mx-auto px-4 md:px-10 py-8">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <div class="bg-[#F3FCDA] mb-6 flex flex-col p-5">
                    <h1 class="text-xl">Helene Isselstein, London</h1>
                    <div class="pt-3 pr-16 flex-grow">
                        <p class="text-sm mt-2 text-justify text-gray-500">Happy to be associated with Little Bamboo. I thought it was very easy to donate and user friendly</p>
                    </div>
                </div>
    
                <div class="bg-[#F3FCDA] mb-6 flex flex-col p-5">
                    <h1 class="text-xl">Johannes Kram, Berlin</h1>
                    <div class="pt-3 pr-16 flex-grow">
                        <p class="text-sm mt-2 text-justify text-gray-500">Das hier ist keine abstrakte Organisation, kein Hilfswerk, null Alibi-Charity für weltanschauliche Gruppen. Es sind Kinder, in einer großartigen Stadt, die ich kenne, denen von großartigen Menschen, die ich kenne in einer kleinen, überschaubaren Einrichtung genau die Unterstützung bekommen, die sie benötigen</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="flex items-center justify-center ">
        <div class="flex-grow border-t border-black"></div>
        <h1 class="text-4xl font-medium mx-4">Meet the Team</h1>
        <div class="flex-grow border-t border-black"></div>
    </div>

    <div class="p-8 mx-auto">
        <div id="default-carousel" class="container mx-auto mt-4  px-4 md:px-16 relative w-[90%] bg-[#f1f8e9] rounded-lg" data-carousel="slide">
            <!-- Carousel wrapper -->
            <div class="relative h-48 overflow-hidden rounded-lg md:h-96">
                <!-- Item 1 -->
                <div class="hidden absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 duration-700 ease-in-out" data-carousel-item>
                    <div class="flex flex-col md:flex-row items-center justify-between">
                        <div class="pl-16 md:w-2/12  flex-shrink-0">
                            <div class="w-[100%] rounded-full overflow-hidden">
                                <img src="/assets/images/staff-profiles/fe.webp" alt="Circular Image">
                            </div>
                        </div>
                        <div class="ml-4 p-5 md:w-10/12">
                            <p class="font-semibold">Fe, Manager </p>
                            <p class="text-sm pt-2 text-justify pr-16">"My job in Little Bamboo is Heaven sent.  It came at a time when I needed a job that didn’t require much travel, and Little Bamboo needed someone with experience in managing people and programs.
                                I like working in Little Bamboo.  When I go home, I feel I am making a difference in the lives of the people I work with and in the future of the children we work for, however big or small that difference may be."</p>
                        </div>
                    </div>
                </div>
                <!-- Item 2 -->
                <div class="hidden absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 duration-700 ease-in-out" data-carousel-item>
                    <div class="flex flex-col md:flex-row items-center justify-between">
                        <div class="pl-16 md:w-2/12 flex-shrink-0">
                            <div class="w-[100%] rounded-full overflow-hidden">
                                <img src="/assets/images/staff-profiles/julie.webp" alt="Circular Image">
                            </div>
                        </div>
                        
                        <div class="ml-4 p-5 md:w-10/12">
                            <p class="font-semibold">Julie, Program in-Charge, Family Support</p>
                            <p class="text-sm pt-2 text-justify pr-16">"The long engagement in Little Bamboo Foundation is perfectly a great chance to prove myself that I can be a channel of transformation to every individual I am working with. My skills in handling social issues and concerns lessen the burdens of the family and children we serve. It is also an encouragement for me to keep on inspiring and motivating people in need of guidance and counseling."</p>
                        </div>
                    </div>
                </div>
                 <!-- Item 3 -->
                 <div class="hidden absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 duration-700 ease-in-out" data-carousel-item>
                    <div class="flex flex-col md:flex-row items-center justify-between">
                        <div class="pl-16 md:w-2/12 flex-shrink-0">
                            <div class="w-[100%] rounded-full overflow-hidden">
                                <img src="/assets/images/staff-profiles/jennifer.webp" alt="Circular Image">
                            </div>
                        </div>
                        
                        <div class="ml-4 p-5 md:w-10/12">
                            <p class="font-semibold">Jennifer, Scholarship in Charge</p>
                            <p class="text-sm pt-2 text-justify pr-16">"I have been working with Little Bamboo Foundation for nearly four months. I am very thankful for the opportunity to work with the foundation in helping the children. It has always been my passion to work with children and youth in helping them dream and realize their dreams in the future. By helping the children, I have been helping myself too in giving the best in me to have a fulfilling and satisfying job."</p>
                        </div>
                    </div>
                </div>
                 <!-- Item 4 -->
                 <div class="hidden absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 duration-700 ease-in-out" data-carousel-item>
                    <div class="flex flex-col md:flex-row items-center justify-between">
                        <div class="pl-16 md:w-2/12 flex-shrink-0">
                            <div class="w-[100%] rounded-full overflow-hidden">
                                <img src="/assets/images/staff-profiles/shiela.webp" alt="Circular Image">
                            </div>
                        </div>
                        
                        <div class="ml-4 p-5 md:w-10/12">
                            <p class="font-semibold">Shiela, Family Support Staff</p>
                            <p class="text-sm pt-2 text-justify pr-16">"To me, serving other people is what gives my life meaning; it gives me joy and satisfaction. I heard many times the value of contentment but I never learn to embrace it wholeheartedly, until I work here. Indeed, I am so much thankful for the experience I have while working in Little Bamboo Foundation for it molds me in becoming a better person."</p>
                        </div>
                    </div>
                </div>
                <!-- Item 5 -->
                <div class="hidden absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 duration-700 ease-in-out" data-carousel-item>
                    <div class="flex flex-col md:flex-row items-center justify-between">
                        <div class="pl-16 md:w-2/12 flex-shrink-0">
                            <div class="w-[100%] rounded-full overflow-hidden">
                                <img src="/assets/images/staff-profiles/marites.webp" alt="Circular Image">
                            </div>
                        </div>
                        
                        <div class="ml-4 p-5 md:w-10/12">
                            <p class="font-semibold">Marites, Preschool Teacher</p>
                            <p class="text-sm pt-2 text-justify pr-16">"Little Bamboo helped me develop a strong foundation to my chosen profession. Teaching children is my passion because I can really feel the true happiness that makes me complete. I look forward for LBF to extend to the less fortunate children and families in our community we are serving. I am so thankful for the chance of working in this institution.
                                </p>
                        </div>
                    </div>
                </div>
                <!-- Item 6 -->
                <div class="hidden absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 duration-700 ease-in-out" data-carousel-item>
                    <div class="flex flex-col md:flex-row items-center justify-between">
                        <div class="pl-16 md:w-2/12 flex-shrink-0">
                            <div class="w-[100%] rounded-full overflow-hidden">
                                <img src="/assets/images/staff-profiles/maria.webp" alt="Circular Image">
                            </div>
                        </div>
                        
                        <div class="ml-4 p-5 md:w-10/12">
                            <p class="font-semibold">Maria Teresa, Preschool Teacher</p>
                            <p class="text-sm pt-2 text-justify pr-16">"It is my pleasure to say thank you to Little Bamboo because it helps me pursue my dream and passion as a teacher. For my three years of teaching, I have learned to relate with people and have grown as a mature individual serving the less privileged children and families.  This makes me feel proud, contented and drives me more to teach and serve them. I hope for a continuing support and service 
                                </p>
                        </div>
                    </div>
                </div>
                 <!-- Item 7 -->
                 <div class="hidden absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 duration-700 ease-in-out" data-carousel-item>
                    <div class="flex flex-col md:flex-row items-center justify-between">
                        <div class="pl-16 md:w-2/12 flex-shrink-0">
                            <div class="w-[100%] rounded-full overflow-hidden">
                                <img src="/assets/images/staff-profiles/lorna.webp" alt="Circular Image">
                            </div>
                        </div>
                        
                        <div class="ml-4 p-5 md:w-10/12">
                            <p class="font-semibold">Lorna, Preschool Teacher</p>
                            <p class="text-sm pt-2 text-justify pr-16">"I consider Little Bamboo Foundation as my answered prayer for my job hunting after the earthquake destruction at my community in Bohol and Little Bamboo is my refuge for that tragedy. I am licensed teacher who was not able to practice the profession because I was employed to a different field. However, I am much thankful for my seven months of stay to all staff because I seriously learned a lot form them and apply it to my family and much to the less fortun.ate children"</p>
                        </div>
                    </div>
                </div>
                 <!-- Item 8 -->
                 <div class="hidden absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 duration-700 ease-in-out" data-carousel-item>
                    <div class="flex flex-col md:flex-row items-center justify-between">
                        <div class="pl-16 md:w-2/12 flex-shrink-0">
                            <div class="w-[100%] rounded-full overflow-hidden">
                                <img src="/assets/images/staff-profiles/catherine.webp" alt="Circular Image">
                            </div>
                        </div>
                        
                        <div class="ml-4 p-5 md:w-10/12">
                            <p class="font-semibold">Catherine, Preschool Teacher</p>
                            <p class="text-sm pt-2 text-justify pr-16">"I am grateful for the opportunity that comes in my life, grateful for Little Bamboo for trusting my capability to share what I have learned in my studies and for opening your door for me to grow not just a teacher but as a person. This has been my step to further my skills in teaching in more succeeding years to come. I am greatly honored to express my gratitude in behalf of my family’s joy of having me accepted here at Little Bamboo."</p>
                        </div>
                    </div>
                </div>
                <!-- Item 8 -->
                <div class="hidden absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 duration-700 ease-in-out" data-carousel-item>
                    <div class="flex flex-col md:flex-row items-center justify-between">
                        <div class="pl-16 md:w-2/12 flex-shrink-0">
                            <div class="w-[100%] rounded-full overflow-hidden">
                                <img src="/assets/images/staff-profiles/jovemar.webp" alt="Circular Image">
                            </div>
                        </div>
                        
                        <div class="ml-4 p-5 md:w-10/12">
                            <p class="font-semibold">Jovemar, Preschool Teacher</p>
                            <p class="text-sm pt-2 text-justify pr-16">"I love my life now with my job, my family and friends. Many trials I have been encountered but I surpassed it all. I am much motivated with the children; all I want to do is to help the children and motivate them also to focus in their studies because I know they will have a bright future. I am happy to share my knowledge to them and very grateful to be part of Little Bamboo for eleven years now."</p>
                        </div>
                    </div>
                </div>
                 <!-- Item 9 -->
                 <div class="hidden absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 duration-700 ease-in-out" data-carousel-item>
                    <div class="flex flex-col md:flex-row items-center justify-between">
                        <div class="pl-16 md:w-2/12 flex-shrink-0">
                            <div class="w-[100%] rounded-full overflow-hidden">
                                <img src="/assets/images/staff-profiles/Rico.webp" alt="Circular Image">
                            </div>
                        </div>
                        
                        <div class="ml-4 p-5 md:w-10/12">
                            <p class="font-semibold">Rico, Scholarship staff</p>
                            <p class="text-sm pt-2 text-justify pr-16">"I have been working for three years at Little Bamboo, I am happy with my job and to be with the children specially helping those who were neglected by their families. I hope I will be strong enough to continue my responsibilities with the children, and help them to be better individual."</p>
                        </div>
                    </div>
                </div>
                 <!-- Item 10 -->
                 <div class="hidden absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 duration-700 ease-in-out" data-carousel-item>
                    <div class="flex flex-col md:flex-row items-center justify-between">
                        <div class="pl-16 md:w-2/12 flex-shrink-0">
                            <div class="w-[100%] rounded-full overflow-hidden">
                                <img src="/assets/images/staff-profiles/nedi.webp" alt="Circular Image">
                            </div>
                        </div>
                        
                        <div class="ml-4 p-5 md:w-10/12">
                            <p class="font-semibold">Nedi, Scholarship Team Assistant</p>
                            <p class="text-sm pt-2 text-justify pr-16">"Working at Little Bamboo Foundation is a great pleasure for me. The thing that I appreciate most with my work is that it gives me an opportunity to balance and manage my time at work and to be with my family.  There is teamwork between Management Team and staff. Little Bamboo also gives me the opportunity to work with a pleasant environment and nice colleagues. I am proud to be part of Little Bamboo Family."</p>
                        </div>
                    </div>
                </div>
                <!-- Item 10 -->
                <div class="hidden absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 duration-700 ease-in-out" data-carousel-item>
                    <div class="flex flex-col md:flex-row items-center justify-between">
                        <div class="pl-16 md:w-2/12 flex-shrink-0">
                            <div class="w-[100%] rounded-full overflow-hidden">
                                <img src="/assets/images/staff-profiles/Scarlette.webp" alt="Circular Image">
                            </div>
                        </div>
                        
                        <div class="ml-4 p-5 md:w-10/12">
                            <p class="font-semibold">Scarlett, Cook</p>
                            <p class="text-sm pt-2 text-justify pr-16">"Little Bamboo inspires me to see how many little children the foundation have been helping everyday. As a cook, who is in-charge of preparing food for the children, it’s such a blessing to be part of the foundation’s advocacy to promote children’s welfare and rights. My motivation in working at Little Bamboo is to see more and more children being blessed by the foundation, including me, who in my small ways as a cook have already touched their lives."</p>
                        </div>
                    </div>
                </div>
                <!-- Item 10 -->
                <div class="hidden absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 duration-700 ease-in-out" data-carousel-item>
                    <div class="flex flex-col md:flex-row items-center justify-between">
                        <div class="pl-16 md:w-2/12 flex-shrink-0">
                            <div class="w-[100%] rounded-full overflow-hidden">
                                <img src="/assets/images/staff-profiles/Antonio.webp" alt="Circular Image">
                            </div>
                        </div>
                        
                        <div class="ml-4 p-5 md:w-10/12">
                            <p class="font-semibold">Antonio, Driver</p>
                            <p class="text-sm pt-2 text-justify pr-16">"I am very much thankful and happy I have reach eleven years at Little Bamboo Foundation. I am thankful to our sponsors for supporting Little Bamboo and my family. I am very happy every time Anne comes to visit Little Bamboo because I can share my problems to her. Hoping I can work with Little Bamboo until I retire."</p>
                        </div>
                    </div>
                </div>
                
               <!-- Item 12 -->
               <div class="hidden absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 duration-700 ease-in-out" data-carousel-item>
                <div class="flex flex-col md:flex-row items-center justify-between">
                    <div class="pl-16 md:w-2/12 flex-shrink-0">
                        <div class="w-[100%] rounded-full overflow-hidden">
                            <img src="/assets/images/staff-profiles/renelyn.webp" alt="Circular Image">
                        </div>
                    </div>
                    
                    <div class="ml-4 p-5 md:w-10/12">
                        <p class="font-semibold">Renelyn, Maintenance</p>
                        <p class="text-sm pt-2 text-justify pr-16">"I am very much thankful and happy for the chance to be part of Little Bamboo. Little Bamboo is a great help for me especially financially, and most of all for the sponsorship of my daughter. God Bless and more power to the Management Team and to our benefactors."</p>
                    </div>
                </div>
            </div>
            </div>
            
            <!-- Slider indicators -->
            <!-- <div class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2">
                <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
                <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 2" data-carousel-slide-to="1"></button>
                <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
                <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4" data-carousel-slide-to="3"></button>
                <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 5" data-carousel-slide-to="4"></button>
            </div> -->
            
            <!-- Slider controls -->
            <button type="button" class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
                <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                    <svg class="w-4 h-4 text-white dark:text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                    </svg>
                    <span class="sr-only">Previous</span>
                </span>
            </button>
            <button type="button" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
                <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                    <svg class="w-4 h-4 text-white dark:text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                    </svg>
                    <span class="sr-only">Next</span>
                </span>
            </button>
        </div>
    </div>


    
    <div class=" bg-white">
        <div class="container mx-auto px-10 pb-16 pt-20">
            <div class="flex flex-col md:flex-row items-center justify-between">

                    <div class="md:w-6/12 mb-6 md:mb-0">
                        <h1 class="text-2xl font-bold text-[#71C21F]">From the Former Staff</h1>
                            <p class="text-lg mt-2">Ravelyn, former coordinator</p>
                            <div class="pt-3 pr-16">
                                <p class="text-sm mt-2 text-justify">My one hundred and one reasons why not only I have worked with Little Bamboo, but why I loved working with it:</p>
                                <p class="text-sm mt-4 text-justify">1. It has a heart

                                    When Anne de Vesian interviewed me I have felt her true compassion and love to our deprived Filipino children. And I could not help but be mesmerised by her sincerest desire to give them equal opportunities in life and free themselves from the quagmire of inhereted poverty.
                                    
                                    And then when I met majority of the board, foreign and Filipino alike, I could see the same kind of heart.  
                                    
                                    And that heart extends to its staff as it truly cares for the welfare and wellbeing of the staff at all levels of position.
                                    
                                     ​</p>
                                <p class="text-sm mt-4 text-justify">100. Its programs, which are interdependent, are innovative and time appropriate or significant as our country needs a holistic and socio-culturally based children's program.

                                    Specifically, the foundation's early childhood care and development program is at the forefront of developing and implementing a quality, holistic, socio-culturally based and developmentally appropriate curriculum otherwise available only to the upper classes.​</p>
                                <p class="text-sm mt-4 text-justify">To cite: the department of education has just mandated the institutionalization of the mother tongue as medium of instruction under its K+12 program and the emphasis of play and creativity in the kindergarten classroom; methods and practises which little bamboo has been using for the past 10 years!</p>
                                <p class="text-sm mt-4 text-justify">101.  Little Bamboo had been my HOME for almost 7 years.

                                    A home where I learned to learn from my mistakes, outgrew my weaknesses, strengthen my strengths, appreciate contradictions and differences, and celebrated successes with the team.​</p>
                                
 
                            </div>
                    </div>

                <div class="md:w-6/12">
                    <img class="w-full rounded-lg" src="/assets/images/banner-img.jpg" alt="Home Image">
                </div>
                
            </div>
        </div>
    </div>


</body>
</html>
